@mixin pad {
    @media (max-width: 768px) {
        @content
    }
}

@mixin phone {
    @media (max-width: 375px) {
        @content
    }
}

@mixin image-link {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30%;
}