/* Colors */
$brown: #560300;
$dark-red: #AA0601;
$white: #FFFFFF;
$light-pink: #AA06010D;
$black: #000000;
$gray: #707070;
$light-gray: #DCDCDC;
$dark-green: #5F3E2D;

/* Font-Size */
$font-size-xxxl: 72px;
$font-size-xxl: 64px;
$font-size-xl: 48px;
$font-size-lg: 36px;
$font-size-md: 24px;
$font-size-sm: 16px;
$font-size-xs: 8px;

/* Line-Height */
$line-height-xxxl: 108px;
$line-height-xxl: 92px;
$line-height-xl: 72px;
$line-height-lg: 48px;
$line-height-md: 36px;
$line-height-sm: 24px;